:root {
  --background: #37383c;
  --lighterGrey: #454344;
  --darkerGrey: #232122;
  --orange: #ff6f00;
}

body {
  background: var(--background);
  height: 100vh;
  margin: 0;
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  min-height: 500px;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

input,
button {
  font-family: 'Montserrat', sans-serif;

}

#nameInput {
  z-index: 1;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--background);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 15vh 0 25vh 0;
  box-sizing: border-box;
  justify-content: center;
  gap: 0px;
  transition: opacity 0.2s;
}

#nameInputTitle {
  text-align: center;
  font-size: 1.2rem;
}

#nameInputContainer {
  height: auto;
  gap: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.pnic {
  text-align: center;
}

.pni {
  display: block;
  border: none;
  height: 30px;
  margin: 10px auto 0 auto;
  border-radius: 20px;
  width: 200px;
  padding: 0 15px;
}

#nameInputSubmitContainer {
  text-align: center;
  margin-top: 50px;
}

.styledButton {
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  background: var(--orange);
  color: #f7f7f7;
  margin: auto;
  display: inline-block;
  font-size: 1.2rem;
  transition: color 0.2s;
  font-weight: 300;
  user-select: none;
}


.styledButton:hover {
  color: #000;
}

.buttonInactive {
  display: none;
}

#mainContainer {
  height: 100vh;
}

#scores {
  position: relative;
  background: var(--background);
  padding: 5vh 30px 10px 30px;
}

#nameRow {

  border-bottom: 1px solid #999;
  padding-bottom: 20px;
}

#nameRow,
.scoreRow {
  margin-bottom: 20px;
}

#scoreRow2,
#scoreRow3,
#scoreRow4,
#scoreRow5 {
  display: none;
}

#nameRow,
.scoreRow,
#totalRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}

.nameBlock,
.scoreBlock,
.totalBlock {
  flex-basis: 25%;
  border-radius: 30px;
  height: 50px;
  padding: 2px;
  line-height: 50px;
  text-align: center;
}

.scoreBlock {
  background: #282627;
  min-height: 50px;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  justify-content: space-between;

}

.incrementer,
.decrementer {
  background: var(--lighterGrey);
  border-radius: 100%;
  font-size: 1.5rem;
  width: 50px;
  cursor: pointer;
  user-select: none;
}


#totalRow {
  border-top: 1px solid #999;
  padding-top: 20px;
}


#startRound {
  margin-top: 20px;
  text-align: center;
}

#scoreTable {
  padding: 50px 0;
}

#scoreTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 50px;
}

.scoreTableRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 50px;
  gap: 10px;
  margin-top: 25px;
  padding: 0 30px;
}

.scoreTableBlock {
  border-radius: 25px;
  background: #454344;
  text-align: center;
  padding: 5px 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  text-align: center;
}

.scoreTableName {
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.scoreTableScore {
  background-color: var(--background);
  border-radius: 20px;
  width: 60px;
  margin: auto;
  height: 30px;
  line-height: 30px;

}

#noScores{
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 700px) {
  #nameInputContainer {
    gap: 40px 10px;

  }

  .pni {
    width: 130px;
  }

  #scores {
    padding: 10px;
  }

  #nameRow {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .nameBlock {
    line-height: 40px;
    height: 40px;
  }


  .scoreRow {
    margin-bottom: 10px;
  }

  .scoreBlock {
    padding: 4px;
    box-sizing: border-box;
    grid-template-columns: auto;

  }

  #totalRow {
    padding-top: 10px;
  }

  .totalBlock {
    height: 40px;
  }

  .incrementer,
  .decrementer {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .incrementer {
    order: 1;
  }

  .score {
    order: 2;
  }

  .decrementer {
    order: 3;
  }

  .scoreRow {
    grid-template-columns: repeat(4, 48px);
    justify-content: space-around;
  }

  .scoreTableRow {
    padding: 0 10px;
    gap: 5px;
  }

  .scoreTableBlock {
    grid-template-columns: auto;
    justify-content: center;
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  .scoreTableName {
    padding: 0 5px;
  }

  .scoreTableScore {
    margin-top: 10px;
  }
}